<h1>Listing leaves</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leaves.each do |leaf| %>
  <tr>
    <td><%= leaf.name %></td>
    <td><%= leaf.description %></td>
    <td><%= leaf.type %></td>
    <td><%= link_to 'Show', leaf %></td>
    <td><%= link_to 'Edit', edit_leaf_path(leaf) %></td>
    <td><%= link_to 'Destroy', leaf, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Leaf', new_leaf_path %>
